doctype html
html(lang='en')
    head
        include ./head.pug
    body
        #wrapper
            include ./nav.pug
        #page-wrapper
            .container-fluid
                .row
                    .col-lg-12
                    h1.page-header #{i18n.admin_dashboard_welcome}

                .row
                    .col-lg-12
                        .panel.panel-info
                            .panel-heading
                                h5 #{i18n.admin_dashboard_about} YAAFLEX 
                            .panel.body
                                center
                                    h1 Welcome to YAAFLEX v1.0.0.1 

                                    h3 yet another amazing framework by leganux
                                    p &copy; 2007 -2019  
                                    a(href="https://leganux.com", target="_blank" ) leganux.com
                                    hr
                                    p This framework was made using 
                                    p NodeJS, Express, PUG, Mongoose, Nodemon, jQuery, Bootstrap, and Bootswatch themes
                                    hr 
                                    p You'll can find all the documentation about this project on 
                                        a(href="http://docs.leganux.com", target="_blank") docs.leganux.com
                                    |  soon

                .row
                    .col-lg-12
                        .panel.panel-default
                            .panel-heading
                                h5 #{i18n.admin_dashboard_about_app}
                            .panel.body
                .row
                    .col-lg-12
                        .panel.panel-default
                            .panel-heading
                                h5 #{i18n.admin_dashboard_about_server}
                            .panel.body







    include ./scripts.pug
    //script(src=routes.AssetsCP+'/code/js/dashboard.js?v='+Math.random())

