meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='')
meta(name='author', content='Angel Erick Cruz Olivera - leganux.com')
title YAAFLEX - Dashboard


link(href=routes.AssetsURLCP+'/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
link(href=routes.AssetsURLCP+'/vendor/metisMenu/metisMenu.min.css', rel='stylesheet')
link(href=routes.AssetsURLCP+'/dist/css/sb-admin-2.css', rel='stylesheet')

link(href=routes.AssetsURLCP+'/vendor/datatables-plugins/dataTables.bootstrap.css', rel='stylesheet')
link(href=routes.AssetsURLCP+'/vendor/datatables-responsive/dataTables.responsive.css', rel='stylesheet')
link(href=routes.AssetsURLCP+'/vendor/holdon/holdOn.css', rel='stylesheet')
link(href=routes.AssetsURLCP+'/vendor/summernote/summernote.css', rel='stylesheet')
link(href=routes.AssetsURLCP+'/vendor/alertifyjs/css/alertify.css', rel='stylesheet')
link(href=routes.AssetsURLCP+'/vendor/alertifyjs/css/themes/bootstrap.css', rel='stylesheet')
link(href=routes.AssetsURLCP+'/vendor/select2/css/select2.css', rel='stylesheet')
link(href=routes.AssetsURLCP+'/frontend/css/common.css', rel='stylesheet')