meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')

meta(name='viewport', content='width=device-width, initial-scale=1')

link(rel='icon',  href='/cdn/assets/favicon.ico')
meta(name='application-name', content='yaaflex')
link(rel="stylesheet", href=config.path.AssetsSite+"/fa/css/all.css")
link(rel="stylesheet", href=config.path.AssetsSite+"/alertifyjs/css/alertify.css")
link(rel="stylesheet", href=config.path.AssetsSite+"/datatables/css/jquery.dataTables.css")
link(rel="stylesheet", href=config.path.AssetsSite+"/datatables/css/datatables.bootstrap4.css")
link(rel="stylesheet", href=config.path.AssetsSite+"/datatables-plugins/datatables.bootstrap.css")
link(rel="stylesheet", href=config.path.AssetsSite+"/datatables-responsive/datatables.responsive.css")
link(rel="stylesheet", href=config.path.AssetsSite+"/holdon/holdOn.css")
link(rel="stylesheet", href=config.path.AssetsSite+"/select2/css/select2.css")
link(rel="stylesheet", href=config.path.AssetsSite+"/summernote/summernote-bs4.css")
link(rel="stylesheet", href=config.path.AssetsSite+"/context/jquery.contextMenu.css")
link(rel="stylesheet", href=config.path.AssetsSite+"/leganux/animate.css")
link(rel="stylesheet", href=config.path.AssetsSite+"/leganux/equalizr.css")
link(rel="stylesheet", href=config.path.AssetsSite+"/bs-dist/css/bootstrap.css")
link(rel="stylesheet", href=config.path.AssetsSite+"/bootswatch-dist/"+config.theme+'/bootstrap.css')

script(src=config.path.AssetsSite+"/jquery.js")






