p.noMargin(align='right')



//hr.noMargin
.navI.noMargin
    .row
        .col-sm-12.col-md-3
            center
                a(href="/")
                    img.img-fluid(width='100px', src=routes.AssetsURLF+'/images/myScentJourney.png')
                h3 ScentJourney
        .col-sm-12.col-md-6
            br
            br
            input#GlobalSearch_.form-control.principal-search(type='text', placeholder=cLang.i_ph_search)
        .col-sm-12.col-md-3
            br

            center
                small  #{cLang.txt_select_your_language}
                br
                button#LangToEs.btn.btn-primary.btn-sm 🇲🇽 ES 
                |   /
                button#LangToEn.btn.btn-primary.btn-sm 🇺🇲 EN
                hr.noMargin

.row.SearchSpace
    .col
        .row
            .col-sm-12.col-md-4

                .form-group
                    .custom-control.custom-switch
                        input#SwitchFemale.custom-control-input.SelectorS(type='checkbox', checked='true')
                        label.custom-control-label(for='SwitchFemale') #{cLang.txt_female}
                    .custom-control.custom-switch
                        input#SwitchMale.custom-control-input.SelectorS(type='checkbox', checked='true')
                        label.custom-control-label(for='SwitchMale') #{cLang.txt_male}
                    .custom-control.custom-switch
                        input#SwitchUnisex.custom-control-input.SelectorS(type='checkbox', checked='true')
                        label.custom-control-label(for='SwitchUnisex') #{cLang.txt_unisex}
            .col-sm-12.col-md-4
                center 
                    h4 #{cLang.txt_search_resuts}

            .col-sm-12.col-md-4
                p(align="right")
                    a(href="/search/") 
                        button.btn.btn-outline-primary.btn-sm #{cLang.txt_more}
        .row
            .col-sm-12.col-md-8.card
                br
                p(align="center").FinderTitle #{cLang.txt_products}

                hr
                #SearchF_prod(style="max-height:700px; overflow-y:auto")

            .col-sm-12.col-md-4
                .row

                    .col-sm-12.card
                        br
                        p(align="center").FinderTitle #{cLang.txt_posts}
                        hr
                        #SearchF_posts

                    .col-sm-12.card
                        br
                        p(align="center").FinderTitle #{cLang.m_articles}
                        hr
                        #SearchF_articles


                    .col-sm-12.card
                        br
                        p(align="center").FinderTitle #{cLang.txt_ingredients}
                        hr
                        #SearchF_ing



                    .col-sm-12.card
                        br
                        p(align="center").FinderTitle #{cLang.txt_brands}
                        hr
                        #SearchF_brands



                    .col-sm-12.card
                        br
                        p(align="center").FinderTitle #{cLang.txt_noses}
                        hr
                        #SearchF_noses



                    .col-sm-12.card
                        br
                        p(align="center").FinderTitle #{cLang.txt_users}
                        hr
                        #SearchF_users









hr.noMargin
.container.menuBack
    .row.noMargin
       
        .col-sm-12.noMargin
            case Session
                when false 
                    p.noMargin(align='right')
                        |   |
                        a(href='/').homeMenuText &nbsp; #{cLang.m_home}
                        |   |
                        a(href='/who_i_am').homeMenuText &nbsp; #{cLang.f_who_i_am}
                        |   |       
                        a(href='/recent').homeMenuText &nbsp; #{cLang.m_recent_post}
                        |   |       
                        a(href='/articles').homeMenuText &nbsp; #{cLang.m_articles}
                        |                       |
                        a#SJ_StartLogin_(href='#').homeMenuText &nbsp; #{cLang.m_login}
                        |                       |
                when true
                    p.noMargin(align='right')
                        | |
                        a(href='/').homeMenuText &nbsp; #{cLang.m_home}
                        |                     |
                        a(href='/who_i_am').homeMenuText &nbsp; #{cLang.f_who_i_am}
                        |                       |       
                        a(href='/recent').homeMenuText &nbsp; #{cLang.m_recent_post}
                        |   |   
                        a(href='/articles').homeMenuText &nbsp; #{cLang.m_articles}
                        |                       |
                        a(href='/profile').homeMenuText &nbsp; #{cLang.m_profile}
                        |                     |
                        a(href='/alerts').homeMenuText &nbsp; #{cLang.m_alert}
                        |                     |
                        
                        
                        a(href='/logout') &nbsp; #{cLang.m_logout}
                        |                     |

                default 
                    p.noMargin(align='right')
                        | |
                        a(href='/').homeMenuText &nbsp; #{cLang.m_home}
                        |                     |
                        a#SJ_StartLogin_(href='#').homeMenuText &nbsp; #{cLang.m_login}
                        |                     |

        hr.noMargin


script(src=routes.AssetsURLF+'/js/langCtrl.js')
